html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.center nav,
.center aside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color1 {
    background-color: lightblue;
}

.color2 {
    background-color: darkorchid;
}

.color3 {
    background-color: lightsalmon;
}

.color4 {
    background-color: darkorchid;
}

.color5 {
    background-color: lightblue;
}

header,
footer,
.center nav,
main,
.center aside {
    color: black;
    padding: 1rem;
    box-sizing: border-box;    
}